# Ignore everything in ~/.config...
/*

# ...except the configs I manage on purpose
!/.gitignore
!/hypr/
!/quickshell/
!/matugen/
!/nvim/
!/alacritty/
!/qt6ct/

hypr/config/matugen.lua
hypr/config/inputs.lua
hypr/config/variables.lua
hypr/hyprlock-colors.conf
alacritty/matugen.toml
nvim/lua/matugen_palette.lua
qt6ct/colors/
